.users-header {
  width: 100%;
  text-align: center;
}

.user-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: pink;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user-card {
  flex: 0 40%;
  height: 400px;
  margin-top: 10px;
  background-color: blue;
  min-width: 400px;
}
