.users-header {
  width: 100%;
  text-align: center;
}

.user-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* background-color: pink; */
  flex-wrap: wrap;
  justify-content: space-between;
}

.user-card {
  display: flex;
  flex-direction: row;
  flex: 0 20%;
  height: 150px;
  margin-top: 10px;
  margin: 1rem;
  background-color: rgba(227, 226, 226, 0.94);
  min-width: 400px;
  border-radius: 10px;
}

img {
  height: 75%;
  border-radius: 100%;
}

.user-info {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  height: 100%;
  display: block;
  /* background: pink; */
  margin-left: 15%;
}

.name,
.country {
  margin-top: 20%;
}

.tooltip-box {
  position: absolute;
}
